---
layout: default
title: JS组件--admix
---

<div class="docs-sub-header">
  {% include masthead.html %}
  <div class="container">
    <div class="docs-sub-content">
      <h2 class="page-title">JS组件</h2>
      <p class="page-description">很多使用例子告诉你这么调用组件.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="column-group">
    <div class="column lg-units-8 docs-examples docs-content">

    </div>

    <div class="column lg-units-4">
    </div>
  </div>

  <div class="column">
    <!-- Footer -->
    {% include footer.html %}
  </div>
</div>
